@model IEnumerable<ScheduleApp.Model.User>

@{
    ViewData["Title"] = "Users";
    ViewData["Subtitle"] = "Management";
}

@section Breadcrumbs
    {
    <ol class="breadcrumb">
        <li><a href="#">Administration</a></li>
        <li class="active">Users</li>
    </ol>
}

<div class="btn-toolbar" role="toolbar">
    <div class="btn-group" role="group">
        <button class="btn btn-success" asp-action="Create"><span class="glyphicon glyphicon-plus"></span></button>
    </div>
</div>
<hr />

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Role)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Role)
                </td>
                <td>
                    <div class="btn-group" role="group">
                        @if (item.IsActive.GetValueOrDefault())
                        {
                            <button asp-action="ToggleActive" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Deactivate</button>
                        }
                        else
                        {
                            <button asp-action="ToggleActive" asp-route-id="@item.Id" class="btn btn-success">Activate</button>
                        }

                    </div>
                </td>

                <td>
                    <div class="btn-group" role="group">
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-primary"><span class="glyphicon glyphicon-edit"></span></a>
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-info"><span class="glyphicon glyphicon-share-alt"></span></a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger"><span class="glyphicon glyphicon-trash"></span></a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
