@model IEnumerable<ScheduleApp.Model.DatePreference>

@{
    ViewData["Title"] = "Index";
}

<div class="btn-toolbar" role="toolbar">
    <div class="btn-group" role="group">
        <button class="btn btn-success" asp-action="Create"><span class="glyphicon glyphicon-plus"></span></button>
    </div>
</div>
<hr />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Shift.ShiftDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsPreffered)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Shift.ShiftDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsPreffered)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.Email)
                </td>
                <td>
                    <div class="btn-group" role="group">
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-primary"><span class="glyphicon glyphicon-edit"></span></a>
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-info"><span class="glyphicon glyphicon-share-alt"></span></a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger"><span class="glyphicon glyphicon-trash"></span></a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
