@using ScheduleApp.Web.Extensions
@model Dictionary<RequestType, List<ScheduleApp.Model.SwitchRequest>>

@{
    ViewData["Title"] = "Requests";
    ViewData["Subtitle"] = "Management";
}

@section Breadcrumbs
    {
    <ol class="breadcrumb">
        <li><a href="#">Administration</a></li>
        <li class="active">Requests</li>
    </ol>
}

<div class="row">
    <div class="col-xs-2">
        <div class="page-header">
            <h3>@ViewData["Title"]<small>2</small>me</h3>
        </div>
    </div>
    <div class="col-xs-10">


        <!-- Table -->
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>From User</th>
                    <th>Shift Date</th>
                    <th>Broadcast / Direct?</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model[RequestType.REQUESTS_TO_ME])
                {
                    foreach (var pending in item.PendingSwitches)
                    {
                        <tr class="@(pending.Status == Constants.REQUEST_STATUS_REJECTED ? "danger" : pending.Status == Constants.REQUEST_STATUS_ACCEPTED ? "success" : "default")">
                            <td>
                                @Html.DisplayFor(modelItem => item.Id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.User.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => pending.Date)
                            </td>
                            <td>
                                @Html.Raw(item.IsBroadcast ? "BROADCAST" : "DIRECT")
                                @if (item.IsBroadcast)
                                {
                                    @Html.DropDownListFor(modelItem => item.WishShiftId, (List<SelectListItem>)ViewData["BroadcastWishShiftId"])
                                }
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => pending.Status)
                            </td>
                            <td>
                                @if (pending.Status == Constants.REQUEST_STATUS_NEW)
                                {
                                    <div class="btn-group" role="group">
                                        <a asp-action="Accept" asp-route-id="@pending.Id" asp-route-broadcastWishShiftId="@item.WishShiftId" class="btn btn-xs btn-primary"><span class="glyphicon glyphicon-ok"></span></a>
                                        <a asp-action="Reject" asp-route-id="@pending.Id" class="btn btn-xs btn-danger"><span class="glyphicon glyphicon-remove"></span></a>
                                    </div>
                                }
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>
<hr />

<div class="page-header">
    <h3><small>my</small>@ViewData["Title"]</h3>
</div>

@foreach (var item in Model[RequestType.MY_REQUESTS])
{
    <div class="panel panel-@(item.HasBeenSwitched ? "success" : item.IsBroadcast? "primary" : "default")">
        <!-- Default panel contents -->
        <div class="panel-heading" style="padding-bottom: 0px; margin-bottom: 25px;">
            <span class="panel-title">
                <strong>
                    my@(item.IsBroadcast ? "Broadcast" : "")Request #@Html.DisplayFor(modelItem => item.Id)
                </strong>
            </span>
            <div class="btn-group pull-right" role="group" style="margin-top: -11px;margin-right: -15px;">
                @*<a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-primary"><span class="glyphicon glyphicon-edit"></span></a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-info"><span class="glyphicon glyphicon-share-alt"></span></a>*@
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger"><span class="glyphicon glyphicon-trash"></span></a>
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <dl class="col-xs-6 dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => item.User)
                    </dt>
                    <dd>
                        @Html.DisplayFor(modelItem => item.User.Email)
                    </dd>
                    @if (item.IsBroadcast)
                    {
                        <hr />
                        <dt>
                            @Html.DisplayNameFor(model => item.IsBroadcast)
                        </dt>
                        <dd>
                            @Html.DisplayFor(modelItem => item.IsBroadcast)
                        </dd>
                    }
                </dl>
                @*<div class="vertical-divider">or</div>*@

                <dl class="col-xs-6 dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => item.CurrentShift)
                    </dt>
                    <dd>
                        @Html.DisplayFor(modelItem => item.CurrentShift.ShiftDate)
                    </dd>
                    @if (!item.IsBroadcast)
                    {
                        <hr />
                        <dt>
                            @Html.DisplayNameFor(model => item.WishShift)
                        </dt>
                        <dd>
                            @Html.DisplayFor(modelItem => item.WishShift.ShiftDate)
                        </dd>
                    }
                </dl>
            </div>
        </div>

        <!-- Table -->
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Date</th>
                    <th>To User</th>
                    <th>Status</th>
                    @*<th></th>*@
                </tr>
            </thead>
            <tbody>
                @foreach (var pending in item.PendingSwitches)
                {
                    <tr class="@(pending.Status == Constants.REQUEST_STATUS_REJECTED ? "danger" : pending.Status == Constants.REQUEST_STATUS_ACCEPTED ? "success" : "default")">
                        <td>
                            @Html.DisplayFor(modelItem => pending.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => pending.Date)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => pending.User.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => pending.Status)
                        </td>
                        @*<td>
                                <div class="btn-group" role="group">
                                    <a asp-action="Accept" asp-route-id="@pending.Id" class="btn btn-sm btn-primary"><span class="glyphicon glyphicon-ok"></span></a>
                                    <a asp-action="Reject" asp-route-id="@pending.Id" class="btn btn-sm btn-danger"><span class="glyphicon glyphicon-remove"></span></a>
                                </div>
                            </td>*@
                    </tr>
                }
            </tbody>
        </table>

    </div>
}
