@model IEnumerable<ScheduleApp.Model.SwitchRequest>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <button class="btn btn-primary" asp-action="Create">Create New</button>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.IsBroadcast)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HasBeenSwitched)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.CurrentShift)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WishShift)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IsBroadcast)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HasBeenSwitched)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrentShift.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WishShift.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" style="color:#2c3e50"><span class="glyphicon glyphicon-edit"></span></a>|
                <a asp-action="Details" asp-route-id="@item.Id" style="color:#2c3e50"><span class="glyphicon glyphicon-share-alt"></span></a>|
                <a asp-action="Delete" asp-route-id="@item.Id" style="color:#2c3e50"><span class="glyphicon glyphicon-trash"></span></a>
            </td>
        </tr>
}
    </tbody>
</table>
