@model IEnumerable<ScheduleApp.Model.SwitchRequest>

@{
    ViewData["Title"] = "Index";
}

<div class="btn-toolbar" role="toolbar">
    <div class="btn-group" role="group">
        <button class="btn btn-success" asp-action="Create"><span class="glyphicon glyphicon-plus"></span></button>
    </div>
</div>
<hr />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IsBroadcast)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HasBeenSwitched)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CurrentShift)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WishShift)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IsBroadcast)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HasBeenSwitched)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CurrentShift.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WishShift.Id)
                </td>
                <td>
                    <div class="btn-group" role="group">
                        <a asp-action="Accept" asp-route-id="@item.Id" class="btn btn-sm btn-primary"><span class="glyphicon glyphicon-ok"></span></a>
                        <a asp-action="Reject" asp-route-id="@item.Id" class="btn btn-sm btn-danger"><span class="glyphicon glyphicon-remove"></span></a>
                    </div>

                </td>
            </tr>
            <tr>
                <td colspan="6">
                    @foreach (var pending in item.PendingSwitch)
                    {
                        @Html.DisplayFor(modelItem => pending.Date)
                        @Html.DisplayFor(modelItem => pending.User.Email)
                        @Html.DisplayFor(modelItem => pending.Status)
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
